<div class="w-screen h-screen bg-slate-300 flex items-center justify-center">
  <div class="w-full max-w-fit p-5 bg-slate-50 rounded-lg -mt-12">
    <div class="bg-slate-300 p-5 rounded-md">
      <h1 class="mb-5 text-lg font-semibold">Mortage Calculator</h1>
      <div class="grid grid-cols-3 gap-8 mb-10">
        <div class="flex flex-col">
          <label>Purchase Price: <span class="w-24 inline-block text-right">{{ purchasePrice | currency }}</span></label>
          <input type="range" max="1000000" [(ngModel)]="purchasePrice">
        </div>
        <div class="flex flex-col">
          <label>Down Payment: <span class="w-24 inline-block text-right">{{ downPayment | currency }}</span></label>
          <input type="range" max="1000000" [(ngModel)]="downPayment">
        </div>
        <div class="flex flex-col">
          <label>Repayment Time: <span class="w-24 inline-block text-right">{{ repayTime }} year/s</span></label>
          <input type="range" max="50" [(ngModel)]="repayTime">
        </div>
        <div class="flex flex-col">
          <label>Interest Rate: <span class="w-24 inline-block text-right">{{ interestRate }}%</span></label>
          <input type="range" max="100" [(ngModel)]="interestRate">
        </div>
        <div>
          <p>Loan Amount:</p>
          <p class="font-semibold">{{ purchasePrice - downPayment | currency }}</p>
        </div>
        <div>
          <p>Estimated per month:</p>
          <p class="font-semibold">{{ estimatedMonthlyPayment | currency }}</p>
        </div>
      </div>
      <button class="bg-blue-500 p-3 rounded-md text-slate-100" (click)="getMortgage()">
        Get a Mortgage Quote
      </button>
    </div>
  </div>
</div>